<% content_for :sub_menu do %>
  <%= link_to image_tag('admin/page_text.gif')+'Назад к списку', admin_pages_path %>
<% end %>

<% content_for :lang_menu do %>
  <%= render :partial => "/admin/shared/lang" %>
<% end %>

<% form_for @page, :url=>admin_page_path(@page) do |form| %>
  <%= render :partial => 'form', :locals=>{:form=>form}  %>

  <center><p><%= form.submit 'Обновить' %> <%= form.submit 'Обновить и вернуться к списку' %></p></center>
<% end %>
