<% content_for :sub_menu do %>
  <ul>
    <li><%= link_to 'Selected items', items_admin_statistics_path %></li>
    <li><%= link_to 'User selections', selection_admin_statistics_path %></li>
  </ul>
<% end %>

<table width="100%" class="grid">
  <tr>
    <th>Name</th>
    <th>Individual show count</th>
    <th>Show in Dashboard</th>
    <th>Selection count</th>
  </tr>
  
  <% @items.each do |item| %>
    <tr class="<%= cycle('odd', 'even')  %>" >
      <td align=right><%= link_to item.title, item_path(item) %></td>
      <td><%= item.view_show_count %></td>
      <td><%= item.index_show_count %></td>
      <td><%= item.selection_count %></td>
    </tr>
  <% end %>
</table>