<div id="login-container" style="display:none;">
  <% form_tag session_path, :class => 'login-form' do -%>
    <fieldset>
      <label for="login" >Логин:</label><br class="nobr" />
      <%= text_field_tag 'login', nil,:class => "textfld" %>
                
      <label for="password" >Пароль:</label><br class="nobr" />
      <%= password_field_tag 'password', nil,:class => "textfld" %><%= link_to '?!', '/remind' %>
      <br class="clear" />
      <%= check_box_tag 'remember_me', '1', 0, :class => 'check' %><label for="remember" class="chckbox">Узнавать меня</label>
      <br />
      <%= submit_tag 'Войти', :class => 'sbmit' %>
    </fieldset>
  <% end -%>
</div>