<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'structure' %>
    <%= stylesheet_link_tag 'items' %>
    <%= stylesheet_link_tag 'dashboard' %>
    <%= stylesheet_link_tag 'jquery.fancybox' %>
    <title><%= I18n.t(:title) %></title>
    <style type="text/css">
    </style>
    <%= render :partial=>'shared/ie_fix' %>
    <%= javascript_include_tag 'jquery-1.3.2.min' %>
    <%= javascript_include_tag 'jquery.cookie' %>
    <%= javascript_include_tag 'item' %>
    <%= javascript_include_tag 'jquery.fancybox-1.2.1.pack' %>
    <%= javascript_include_tag 'application' %>

    <!--
    /***********************************************
    * Accordion Content script- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
    * Visit http://www.dynamicDrive.com for hundreds of DHTML scripts
    * This notice must stay intact for legal use
    ***********************************************/
    -->
    <%= javascript_include_tag 'ddaccordion' %>
    <script type="text/javascript">
      ddaccordion.init({
        headerclass: "expandable", //Shared CSS class name of headers group that are expandable
        contentclass: "categoryitems", //Shared CSS class name of contents group
        revealtype: "click", //Reveal content when user clicks or onmouseover the header? Valid value: "click" or "mouseover
        mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
        collapseprev: true, //Collapse previous content (so only one open at any time)? true/false
        defaultexpanded: [0], //index of content(s) open by default [index1, index2, etc]. [] denotes no content
        onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
        animatedefault: false, //Should contents open by default be animated into view?
        persiststate: true, //persist state of opened contents within browser session?
        toggleclass: ["", "openheader"], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
        togglehtml: ["prefix", "", ""], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
        animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
        oninit:function(headers, expandedindices){ //custom code to run when headers have initalized
          //do nothing
        },
        onopenclose:function(header, index, state, isuseractivated){ //custom code to run whenever a header is opened or closed
          //do nothing
        }
      })
    </script>

  </head>

  <body>

    <div id="wrap-container">

      <div id="header">
        <img src="/images/pribor.jpg" alt="" /><h1><a href="/"><%= I18n.t(:company_name)  %></a></h1>
        <div id="rezina-header">
          <p>
            <a href="javascript:;" onclick="Application.changeLocale('en')">Eng</a>
            |
            <a href="javascript:;" onclick="Application.changeLocale('ru')">Rus</a>
          </p>
          <p>
            <% if logged_in? %>
              <a href="/logout"><%= I18n.t(:logout) %></a>
            <% else %>
              <a href="/login"><%= I18n.t(:login) %></a>
            <% end %>
          </p>
        </div>
      </div>

      <div id="main-menu">
        <div class="menu-points">
          <a href="/"><%= t(:menu_main) %></a>
          <a href="/about"><%= t(:menu_about) %></a>
          <a href="/categories"><%= t(:menu_catalog)%></a>
          <a href="/companies"><%= I18n.t(:menu_companies)%></a>
          <% if logged_in? %>
            <a href="/pricelists"><%= t(:menu_pricelist) %></a>
          <% end %>
          <a href="/contacts"><%= t(:menu_contacts) %></a>
        </div>

        <% form_tag search_path, :class=>'find-form', :method=>:get do %>
          <table>
            <tr>
              <td>
                <input class="textfield" name="q" size="30" type="text" value="<%= I18n.t(:search) %>" onclick="this.value='';"/>
              </td>
              <td>
                <input name="submit" src="/images/bg-find-button.jpg" class="submit" alt="<%= I18n.t(:find)%>" type="image" />
              </td>
            </tr>
          </table>
        <% end %>

        <br class="clear" />

      </div>

      <%= yield %>

      <br class="clear" />

    </div><!-- end #wrap-container -->

    <%= render :partial => 'layouts/footer' %>

  </body>

</html>
