<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link rel="icon" href="favicon.ico" />
    <link rel="shortcut icon" href="favicon.ico" />
    
    <title><%= @title || "Выбор подарков" %></title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <meta name="verify-v1" content="mVBjoMN8KTJHKJX6L3WJhriESX8/0ROsQZKTvqZLalA=" />
    <meta name='yandex-verification' content='48b2d15251620ef3' />  
    
    <meta name="keywords" content="<%= @meta_keywords || "подарки, что подарить, выбор подарков, выбор подарка, оригинальные подарки, гиковские подарки, подарок бабушке, подарок дедушке, подарок маме, подарок папе, подарок девушке, подарок на новый год, подарок на день рождения" %>" />
    <meta name="description" content="<%= @meta_description || "Ваш помощник в мире подарков. Огромное количество оригинальных и необычных подарков на любой случай жизни" %>" />
    
    <%= stylesheet_link_tag 'reminder', :media => 'screen' %>
    <%= javascript_include_tag 'jquery'%>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jquery.livequery.js' %>
    <%= javascript_include_tag 'jrails' %>
    
    <%= yield(:header) %>
    
    <%= render :partial => 'shared/ie_header' %>
  </head>
  
  <body>
    <div class="container"> 
      
      <!-- HEADER -->
      <div class="header">
        <div class="bg-header-tl">
          <div class="bg-header-tr">
            <%= link_to image_tag('site-name.gif', :alt => 'Ваш помощник в мире подарков'), '/'  %>
            <span>
              <% if logged_in? %>
              <span class="welcome">Добро пожаловать, <%= current_user.name || current_user.login %></span> <%= link_to 'Мой кабинет', user_path(current_user) %> | <%= link_to 'Выход', logout_path  %>
                
              <% else %>
                <a href="#" class="underDashed" onclick="showLogin(this); return false;">Войти</a> | <%= link_to 'Зарегистрироваться', '/signup' %>
              <% end %>
            </span>
            <%= render :partial => 'shared/login_form' %>
          </div>
        </div>
      </div>
      <div class="menu">
        <%= link_to 'Подбор подарков', dashboard_path, :class => "#{'current' if on_dashboard?}" %>
        <%= link_to 'Сервис напоминаний', events_path, :class => "#{'current' if on_reminder?}" %>
      </div>
      
      <%= yield %>
                                                      
      <!--FOOTER-->
      <div class="footer">
        <p>Copyright © Reminder Service 2009</p>
      </div>
      
    </div>
    <%= render :partial => 'shared/analytics' %>
    <%= render :partial => 'shared/uservoice' %>
        
  </body>
</html>