<div style="position:fixed;bottom:0;width:100%;left:0;">

<div id="footer" style="padding:0;margin:0;border:0">
  <div class="l-footer">
    <p><%= t(:contact_phone) %></p>
    <p><%= t(:contact_phone_2)%></p>
  </div>
  <div class="r-footer">
    <p><%= t(:contact_address)%></p>

    <p><%= t(:contact_address_2) %></p>
  </div>
  <!-- end #footer --></div>

<div id="copyright"><p><%= t(:copyright) %></p></div>

</div>
