<table class="form">
  <tr><td><%= f.label :name, "Name:" %></td><td><%= f.text_field :name %></td></tr>
  <tr><td><%= f.label :option_type, "Option type:" %></td><td><%= f.select :option_type, Option.option_types %></td></tr>
</table>

<br/>
<%= f.submit 'Save' %><%= f.submit 'Save go back' %>








